*{
	margin: 0;
	font-family: Calibri;
	box-sizing: border-box;
}

body{
	background-color: #F5F5F5;
	overflow-x: hidden;
}

main{
	display: flex;
	gap: 20px;
}

p{
	color:#2E8B57;
}

header{
	border-top: 35px solid #228B22;
}

#nav-topo{
	background-color: #228B22;
	overflow: hidden;
}

#nav-topo ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav-topo ul li{
	float: left;
}

#nav-topo ul li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-topo ul li a:hover{
	background-color: #006400;
	transition: 0.3s;
}

h1, h2, h3{
	color: #006400;
}

.foco-escopo{
	width: 90%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.projetos{
	max-width: 45%;
	flex: 1 1 300px;
	margin: 15px 0;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.projetos span{
	padding: 2px 4px;
	border: 1px;
	border-radius: 20px;
	color: #006400;
	background-color: #FFFACD;
}

#artigo-revisao .artigos{
	margin: 15px 0;
}

#artigo-revisao .artigos .titulo-link a{
	color: #006400;
	text-decoration: none;
}

#artigo-revisao .artigos .titulo-link a:hover{
	text-decoration: underline;
}

#coluna-esquerda{
	width: 70%;
	padding: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#artigo-revisao{
	width: 50%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#financiamento{
	width: 50%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

aside{
	width: 30%;
	height: 300px;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 768px) {
	#nav-topo ul li {
		float: none;
		width: 100%;
		text-align: center;
	}

	.foco-escopo, 
	#artigo-revisao, 
	#financiamento {
		width: 100%;
	}
}