*{
	margin: 0;
	font-family: Calibri;
	box-sizing: border-box;
}

body{
	background-color: #F5F5F5;
	overflow-x: hidden;
}

main{
	display: flex;
	gap: 20px;
}

p{
	font-size: 18px;
	color:#4F4F4F;
}

header{
	border-top: 35px solid transparent;
	border-image: linear-gradient(to right, #228B22, #DC143C);
	border-image-slice: 1;
}

#nav-topo{
	background: linear-gradient(to right, #228B22, #DC143C);
	overflow: hidden;
}

#nav-topo ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav-topo ul li{
	float: left;
}

#nav-topo ul li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.active{
	background-color: #006400;
}

#nav-topo ul li a:hover{
	background-color: #006400;
	transition: 0.3s;
}

h1, h2, h3{
	color: #006400;
}

#coluna-esquerda{
	width: 70%;
	padding: 1.5rem;
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* gap: 10px; */
}

.foco-escopo{
	width: 100%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.foco-escopo a{
	color: #D0312D;
}

.container-projetos {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.projetos{
	max-width: 48%;
	flex: 1 1 300px;
	margin: 15px 0;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.projetos span{
	padding: 2px 4px;
	border: 1px;
	border-radius: 20px;
	color: #fff;
	background: linear-gradient(to right, #228B22, #DC143C);
	/* background-color: #66CDAA; */
}

.projetos .equipes{
	padding: 2px 4px;
	border: 1px;
	border-radius: 5px;
	color: #fff;
	background-color: #66CDAA;
}

#artigo-revisao{
	width: 100%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#artigo-revisao .artigos{
	margin: 15px 0;
}

#artigo-revisao .artigos a{
	color: #D0312D;
	text-decoration: none;
	font-size: 1rem;
}

#artigo-revisao .artigos a:hover{
	text-decoration: underline;
}

#artigo-revisao .artigos .titulo-link a{
	color: #D0312D;
	text-decoration: none;
	font-size: 1.5rem;
}

#artigo-revisao .artigos .titulo-link a:hover{
	text-decoration: underline;
}

#financiamento{
	width: 100%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

aside{
	width: 30%;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.conteudo-direita{
	width: 100%;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #dce5dc;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.conteudo-direita p{
	display: flex;
	justify-content: space-between;
}

.conteudo-direita p span{
	margin-bottom: 8px;
	padding: 2px 4px;
	border: 1px;
	border-radius: 20px;
	color: #fff;
	background: linear-gradient(to right, #228B22, #DC143C);
}

@media (max-width: 768px) {
	#nav-topo ul li{
		float: none;
		width: 100%;
		text-align: center;
	}

	.foco-escopo, 
	#artigo-revisao, 
	#financiamento {
		width: 100%;
	}
}