*{
	margin: 0;
	font-family: Calibri;
}

body{
	background: F5F5F5;
}

header{
	border-top: 35px solid #228B22;
}

#nav-topo{
	background-color: #228B22;
	overflow: hidden;
}

#nav-topo ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav-topo ul li{
	float: left;
}

#nav-topo ul li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav-topo ul li a:hover{
	background-color: #006400;
	transition: 0.3s;
}

h1{
	color: #006400;
	font-size: 16px;
}